@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;600&family=Open+Sans+Condensed:wght@300&family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');
@import 'sidebar.css';

/* // General // */
body {
  --main-color: #040b14;
  --secondary-color: #149ddd;
  --secondary-menu-color: #212431;
  --title-color: #173B6C;
  --li-filter-color: #272829;
  --li-filter-font: 'Open Sans', sans-serif;
  --paragraph-font: 'Inconsolata', monoespace;
  --h1-font: 'Raleway', sans-serif;
  --h3-font: 'Raleway', sans-serif;
  --hero-p: 'Poppins', sans-serif;
  --profile-font: 'Poppins', sans-serif;
}
@media screen and (max-width: 767px) {
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="tel"],
  input[type="password"] {
    font-size: 16px;
  }
}

:root {
  touch-action: pan-x pan-y;
  height: 100% 
}

::selection {
  background-color: #212431;
  color: aliceblue;
}

#main {
  margin-left: 1rem;
  margin-right: 1rem;
}

section {
  height: 100%;
}

p {
  font-family: var(--paragraph-font);
}

h1 {
  font-family: var(--h1-font);
  font-weight: 500;
}

.title {
  font-size: 24pt;
  color: var(--title-color);
}

.title::after {
  content: '';
  display: block;
  margin-top: .514rem;
  background-color: var(--secondary-color);
  width: 5%;
  height: .24rem;
}

.paragraph-text {
  color: rgb(46, 45, 45);
  font-size: 12pt;
  font-weight: 600;
}


.wrapper {
  display: grid;
  grid-template-columns: 25% 75%;
}

section {
  padding: 60px 0;
  overflow: hidden;
}


/* // Hero // */
#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, .5),
      rgba(0, 0, 0, 0.3)
    ),
    /* bottom, image */
    url(/imagens/notebook-hands.jpg)
  ;
  background-size: 100% 100vh;
  background-attachment: fixed;
}

#hero .hero-container {
  position: relative;
  z-index: 2;
  margin-left: 15rem;
}

#hero .hero-container h1, p {
  color: #fff;
}

#hero .hero-container h1 {
  font-family: var(--h1-font);
  font-size: 48pt;
  text-align: start;
  letter-spacing: normal;
  line-height: 56px;
}

#hero .hero-container p {
  font-family: var(--hero-p);
  letter-spacing: 1px;
  font-size: 20pt;
  line-height: 39px;
  text-align: start;
  color: #fff;
}

#hero .hero-container p span:nth-child(1) {
  text-decoration: none;
  border-bottom: .15rem solid var(--secondary-color);
  padding-bottom: .2rem;
}

/* Hero pointer */
#hero .hero-container p .hero-pointer {
  opacity: 0;
  background-color: #fff;
  animation: pointer-animation .4s infinite;
}

/* Pointer animation */
@keyframes pointer-animation {
  from {opacity: 0;}
  to {opacity: .7;}
}

/* //Skills// */
.background-percent-bar {
  background-color: #9CA6B4;
  width: 100%;
}

.percent-bar {
  width: 0;
  height: .7rem;
  background-color: var(--secondary-color);
}

.skills-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
}

.skills-right {
  width: 40%;
}

.skills-left {
  width: 40%;
}

.skill {
  margin-bottom: 1rem;
}

.skill-desc {
  display: flex;
  justify-content: space-between;
}

.skill-text {
  color: #040b14;
  font-weight: 600;
  margin-bottom: 0;
}

/* // About // */
#about .about-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 5rem;
}

#about .about-content-img img {
  width: 21rem;
  height: auto;
}

#about .paragraph-text {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#about .about-content-desc {
  margin-top: -.5rem;
}

#about .about-content-desc h3 {
  color: var(--title-color);
  font-family: var(--h3-font);
  font-weight: 700;
  font-size: 25pt;
}

#about .about-content-desc .paragraph-text {
  margin-top: 0;
  margin-bottom: 1rem;
}

#about .about-ul li {
  padding: .6rem;
}

#about .about-ul {
  display: flex;
}

#about .about-ul .li-left {
  flex: 3;
}

#about .about-ul .li-right {
  flex: 3;
}

/*
  -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
                  Portifólio
  -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
*/

#portfolio {}

.filter-list {
  display: flex;
  justify-content: center;
}

.filter-list li a {
  font-size: 14px ;
  font: bold 14px var(--li-filter-font);
  color: var(--li-filter-color);
  text-align: center;
  line-height: 14px;
  padding: .5rem;
  text-decoration: none;
}

.filter-list li a:hover, .filter-list li a:active  {
  color: var(--secondary-color);
}

#portfolio .filter-list {
  list-style: none;
}

.portfolio-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio-wrapper .project {
  width: 30%;
  height: 17rem;
  padding: 1%;
  transition: 1s;
  cursor: pointer;
}

.portfolio-wrapper .project img {
  width: 100%;
  height: 100%;
  transition: 1s;
}


@media screen and (max-width: 950px) {
  #main {
    margin: 0 .8 0 .8rem;
  }
  li {
    font-size: 12pt;
  }
  .title {
    font-size: 30pt;
  }
  .paragraph-text {
    font-size: 14pt;
  }
  #hero .hero-container h1 {
    font-size: 3rem;
    line-height: 36px;
  }
  #hero .hero-container {
    margin-left: 2rem;
  }
  .wrapper {
    display: flex;
  }
  .skills-body {
    flex-direction: column;
  }
  .skill-text {
    font-size: 15pt;
  }
  .skills-right {
    width: 90%;
  }
  
  .skills-left {
    width: 90%;
  }

  #about .about-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #about .about-content .about-content-img img {
    width: 100%;
  }
  #about .about-content .about-content-desc {
    margin-top: 1rem;
  }
  #about .about-content .about-content-desc h3, p {
    text-align: left;
  }
  #about .about-ul {
    display: block;
  }
  .portfolio-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .portfolio-wrapper .project {
    width: 100%;
    height: 25rem;
  }
  .filter-list {
    margin-top: 2rem;
  }
  .filter-list li {
    font: bold 1.5rem var(--li-filter-font);
    color: var(--li-filter-color);
    text-align: center;
    line-height: 14px;
    padding: .5rem;
  }
}
