/* // Header // */
#header {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  bottom: 0;
  width: 25%;
  transition: .5s;
  background: var(--main-color);
  overflow-y: hidden;
  overflow-x: hidden;
}

#header .profile .social-links a {
  font-size: 18px;
  display: inline-block;
  background-color: var(--secondary-menu-color);
  color: #ffff;
  line-height: 1;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  padding: 8px 0;

}
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  transition: .5s;
}

.profile img {
  border-radius: 100%;
  border: .5rem solid var(--secondary-menu-color);
  width: 7.5rem;
  height: 7.5rem;
}

.profile h1 {
  font-family: var(--profile-font);
  color: #ffff;
  font-size: 18pt;
  margin-top: .7rem;
}


#header .nav-menu {
  margin-top: 2rem;
  transition: .5s;
}

#header .nav-menu a {
  display: flex;
  align-items: center;
  font-size: 13pt;
  margin-left: .5rem;
  padding: 1rem 1rem 1rem 1.2rem;
  text-decoration: none;
  color: #a8a9b4;
}

#header .nav-menu i {
  margin-right: .5rem;
  font-size: 1.3rem;
}

#header .nav-menu a:hover i {
  color: var(--secondary-color);
}

#header .nav-menu a:hover {
  color: #f1f1f1;
}

#toggler {
  display: none;
}

@media screen and (max-width: 950px) {
  .profile img {
    border-radius: 100%;
    border: .5rem solid var(--secondary-menu-color);
    width: 9rem;
    height: 9rem;
  }
  
  .profile h1 {
    font-size: 24pt;
    font-weight: bolder;
    margin-top: 1rem;
  }

  #header {
    padding-top: 3rem;
    width: 26rem;
  }

  #header .nav-menu a {
    font-size: 20pt;
  }

  #header .nav-menu i {
    margin-left: .8rem;
    font-size: 2rem;
  }

  #header .profile .social-links a {
    font-size: 24pt;
    width: 3rem;
    height: 3rem;  
  }

  #toggler {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right:1.5rem;
    top:1.5rem;
    font-size: 1.5rem;
    border-radius: 100%;
    background-color: var(--secondary-color);
    color: white;
    cursor:pointer;
    z-index: 9999;
    padding: 1.2rem;
    width: 3.3rem;
    height: 3.3rem;
  }
}